*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.container{
    width: 1320px;
    margin: 0 auto;
}
h2{
    font-size: 45px;
    font-family: sans-serif;
    color: #292828;
    text-align: center;
}